{{#each block.data.details as |details|}}
  <div class='mb-1'>
    {{#if details}}
      <h1 class='p-title'>
        {{fa-icon 'info' fixedWidth=true}}
        Searched IOC -
        {{details.Value}}
      </h1>
    {{/if}}

    <div class='title'>
      <span class='title'>{{fa-icon 'search' fixedWidth=true}} Detection</span>
    </div>

    {{#if details.Geolocation}}
      <div>
        <span class='p-key'>Geolocation : </span>
        <span class='p-value'>{{details.Geolocation}}</span>
      </div>
    {{/if}}

    {{#if details.Severity}}
      <div>
        <span class='p-key'>Severity: </span>
        <span class='severity-key'>{{details.Severity}}</span>
      </div>
    {{/if}}

    {{#if details.FirstSeen}}
      <div>
        <span class='p-key'>First Seen: </span>
        <span class='p-value'>{{moment-format
            details.FirstSeen
            'MM/DD/YYYY HH:mm:ss'
            timeZone=timezone
          }}</span>
      </div>
    {{/if}}

    {{#if details.LastSeen}}
      <div>
        <span class='p-key'>Last Seen: </span>
        <span class='p-value'>{{moment-format
            details.LastSeen
            'MM/DD/YYYY HH:mm:ss'
            timeZone=timezone
          }}</span>
      </div>
    {{/if}}

    {{#if details.Sources}}
      <div class='title'>
        <span class='title'>{{fa-icon 'box' fixedWidth=true}} Sources</span>
      </div>
      {{#each details.Sources as |source|}}
        {{#if source}}
          {{#if source.ConfidenceLevel}}
            <div class='sources-list'>
              <span class='p-key'>Source: </span>
              <span class='p-value'>{{source.Name}}</span>
              <span class='p-key'>Confidence Level: </span>
              <span class='p-value'>{{source.ConfidenceLevel}}</span>
            </div>
          {{/if}}
        {{/if}}
      {{/each}}
    {{/if}}

    {{#if details.RelatedMalware}}
      <div class='title'>
        <span>
          {{fa-icon 'virus' fixedWidth=true}}
          Related Malware</span>
      </div>
      {{#each details.RelatedMalware as |malware|}}
        {{#if malware}}
          <div>
            <span class='p-key'>Malware: </span>
            <span class='p-value'>{{malware}}</span>
          </div>
        {{/if}}
      {{/each}}
    {{/if}}

    {{#if details.RelatedThreatActors}}
      <div class='title'>
        <span>{{fa-icon 'mask' fixedWidth=true}}
          Related Threat Actors</span>
      </div>
      {{#each details.RelatedThreatActors as |actor|}}
        {{#if actor}}
          <div>
            <span class='p-key'>Actor: </span>
            <span class='p-value'>{{actor}}</span>
          </div>
        {{/if}}
      {{/each}}
    {{/if}} 
  </div>
{{/each}}